# The order of stuff is relevant

*
!/**/
!*.*
# a.out
*.out
*.exe
*.o
*.class
*.Identifier

# *replay_pid*
# *tempCodeRunnerFile.c

# # Ignore all
# *
# # Unignore all with extensions
# !*.*
!pub.out