# Ignora tudo por padrão
# *

# Mas permite pastas
# !/**/

# E arquivos com extensão
# !*.*

# Permite especificamente o submódulo
# !external/
# !external/cpp-ds-lib/

# Ignora arquivos de build
*.out
*.exe
*.o
*.class
*.Identifier

# Exceções específicas
# !pub.out
